@model List<(string Name, string Url)>

@if (Model != null && Model.Count > 0)
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">

            <li class="breadcrumb-item">
                <a href="/">Anasayfa</a>
            </li>
            <li class="breadcrumb-item"> - </li>
            <li class="breadcrumb-item">  @ViewData["Title"] </li>
        </ol>
    </nav>
}