@model KentBlog.Entity.Concrete.Menu

@{
    ViewBag.PageTitle = Html.Raw(Model.Name);
    ViewBag.Title = Html.Raw(Model.SeoTitle);
    ViewBag.Description = Html.Raw(Model.MetaDescription);
    ViewBag.Keywords = Html.Raw(Model.MetaKeyword);

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @Html.Raw(Model.MenuInfo)
</div>
