<section id="slider" class="slider-element revslider-wrap h-auto">

	<div class="rev_slider_wrapper" style="width: 100%;margin: 0 auto; background:#000;padding:0px;margin-top:0px;margin-bottom:0px;">
		
		<div id="rev_slider_19_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
			@await Component.InvokeAsync("GetSliderWithBlogs")
			<div class="tp-bannertimer" style="height: 8px; background: rgba(255,255,255,0.25);"></div>
		</div>
	</div>

</section>