
@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12 mb-6">
    <div class="card">

        <div class="card-body">
            <div class="d-flex align-items-start">
                <img src="~/admin/assets/img/favicon/favicon.png" alt="user-avatar" class="d-block w-px-100 h-px-100 rounded" id="uploadedAvatar">
                <div class="button-wrapper">
                    <h5>Kentmedia İnternet Hizmetleri</h5>
                    <a href="javascript:;" class="btn btn-sm btn-primary mb-2"> Profilim</a>
                    <div class="mb-2">Kentmedia Blog Yönetim Paneline Hoşgeldiniz. Soru, görüş ve talepleriniz için aşağıdaki iletişim kanallarından bize ulaşabilirsiniz.</div>
                    <a href="javascript:;" class="btn btn-sm btn-outline-primary"> <i class="bx bx-phone"></i> Müşteri Hizmetleri</a>
                    <a href="javascript:;" class="btn btn-sm btn-outline-primary"> <i class="bx bx-envelope"></i> Teknik Destek</a>
                </div>
            </div>
        </div>
    </div>
</div>