            <!-- Footer -->
<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl d-flex flex-wrap justify-content-between align-items-center py-2 flex-md-row flex-column" style="height: 50px;">
        <div class="mb-2 mb-md-0">
            ©
            <script>
                document.write(new Date().getFullYear());
            </script>
            by
            <a href="https://www.kentmedia.com.tr" target="_blank" class="footer-link fw-bolder">Kentmedia İnternet Hizmetleri</a>
        </div>
        <div>
            <a href="https://www.kentmedia.com.tr/kurumsal" class="footer-link me-4" target="_blank">Hakkımızda</a>
            <a href="https://www.kentmedia.com.tr/iletisim" target="_blank" class="footer-link me-4">İletişim</a>

        </div>
    </div>
</footer>
<!-- / Footer -->