          <!-- Navbar -->
<nav class="layout-navbar navbar navbar-detached align-items-center bg-navbar-theme"
     id="layout-navbar">
    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
            <i class="bx bx-menu bx-sm"></i>
        </a>
    </div>

    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

        @await Component.InvokeAsync("Breadcrumb")

        <ul class="navbar-nav flex-row align-items-center ms-auto">
            <!-- Place this tag where you want the button to render. -->
            <li class="nav-item lh-1 me-3">
                <a class="btn rounded-pill btn-outline-secondary" href="/" target="_blank">
                    <span class="tf-icons bx bx-link-external"></span> Anasayfayı Göster
                </a>
                
            </li>

            <!-- User -->
            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">

                    <div>
                       Merhaba, <span style="font-weight: bold;">Kentmedia İnternet Hizmetleri</span>
                        <span class="avatar">
                            <img src="~/admin/assets/img/favicon/favicon.png" alt="" class="w-px-40 h-auto rounded-circle">
                        </span>
                    </div>


                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item" href="#">
                            <div class="d-flex">
                                <div class="flex-grow-1">
                                    <span class="fw-semibold d-block">Kentmedia İnternet Hizmetleri</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/Account/Index">
                            <i class="bx bx-user me-2"></i>
                            <span class="align-middle">Hesabım</span>
                        </a>
                    </li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/Account/Logout">
                            <i class="bx bx-power-off me-2"></i>
                            <span class="align-middle">Çıkış Yap</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!--/ User -->
        </ul>
    </div>
</nav>
<!-- / Navbar -->