@model KentBlog.Entity.Concrete.GeneralSettings

<div id="logo" class="col-auto ms-auto order-md-2">
    <a href="/">
        <img class="logo-default mx-auto" src="@Url.Content(Model.Logo)" alt="Logo"
             style="width: 290px; height: 65px; object-fit: contain; margin: 15px 0;">
    </a>
</div><!-- #logo end -->